<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />

    <title>{{ project.document.title }}</title>

    <link href="vendor/magick.css/magick.css" rel="stylesheet" />
    <link href="assets/styles/main.css" rel="stylesheet" />

    <script type="module">
      import "./vendor/vellum-doc/vellum-doc.js";
    </script>
  </head>

  <body>
    <main>
      <vellum-doc anchors>
        <section id="document">
          {{ content }}

          <footer>
            <p>{{ project.document.title }} {{ project.version }} &copy; 2026
              <a href="{{ project.author.url }}">{{ project.author.name }}</a>. GODWROT is based on
              <a href="https://buriedwithoutceremony.com/simple-world">Simple World</a>
              by Avery Adler, and the
              <em>Powered by the Apocalypse World</em>
              engine by D. Vincent Baker 
            and Meguey Baker.
            </p>
          </footer>
        </section>
      </vellum-doc>
    </main>
  </body>
</html>
